/* import fonts from fonts.css e variaveis */
@import url(./fonts.css);
@import url(./variaveis.css);

.header_area .main-menu .navbar .container .navbar-brand {
  padding: 1.7rem;
  text-transform: uppercase;
  font-family: "Roboto", cursive;
}
#logo-nome {
  color: var(--cor-caixa);
  font-family: var(--font);
  margin: 0;
}
.header_area .main-menu .nav-item .nav-link {
  font-family: var(--font);
  text-transform: uppercase;
  padding: 1.7rem;
  color: var(--cor-padrao-link);
}
.header_area .main-menu .navbar .active {
  background: var(--linear-gradiente);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.header_area .main-menu .navbar a:hover {
  background: var(--linear-gradiente);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/* start banner */
.linha-horizontal {
  width: 100%;
  border: 1px solid var(--cor-caixa);
}
#logo {
  width: 300px;
  height: 300px;
}
section {
  font-family: var(--font);
}
/* end banner */
/* star principal */

#info {
  background-color: var(--cor-caixa);
  padding: 20px;
  border-radius: 5px;
}
#info p {
  font-family: var(--font);
  color: var(--cor-branca);
}
.img-fluid {
  border-radius: 5px;
}
.camila02 {
  width: 350px;
  height: 350px;
}
.descricao {
  font-family: var(--font);
  font-size: 25px;
  text-align: center;
}
.descricao2 {
  margin: 0;
  font-family: var(--font);
  color: var(--cor-branca);
}
.titulo {
  font-family: var(--font);
  color: var(--cor-caixa);
  font-size: 40px;
}
.titulo2 {
  font-family: var(--font);
  color: var(--cor-branca);
  font-size: 40px;
}
#btn-saiba-mais {
  font-size: 20px;
  padding: 10px;
  background-color: var(--cor-caixa);
  font-family: var(--font);
  color: var(--cor-branca);
  transition: 0.2s;
}
#btn-saiba-mais:hover {
  background-color: var(--cor-caixa2);
}
#btn-enviar {
  font-size: 20px;
  padding: 10px 100px;
  background-color: var(--cor-caixa);
  font-family: var(--font);
  color: var(--cor-branca);
  transition: 0.2s;
}
#btn-enviar:hover {
  background-color: var(--cor-caixa2);
}
.faq {
  background-color: var(--cor-caixa);
}

.bi {
  cursor: pointer;
}
/* rodape */
.rodape {
  background-color: var(--cor-caixa2);
}
#desenvolvedor {
  font-size: 10px;
}
/* end rodape */
/* form */
.form-label {
  font-family: var(--font);
  color: var(--cor-caixa);
}
.form-control {
  font-family: var(--font);
  color: var(--cor-caixa1);
}
/* slider */
.publicacao {
  background-color: var(--cor-caixa);
}

/* end-slider */
/* responsividade */

@media (max-width: 576px) {
  .sobre-mim {
    flex-direction: column;
    font-size: 10px;
    line-height: 20px;
    padding: 2px;
  }
  .camila02 {
    margin-bottom: 50px;
  }
  .descricao {
    font-size: 20px;
    text-align: left;
  }
  .descricao2 {
    text-align: center;
  }
}
