/* import fonts from fonts.css e variaveis */
@import url(./fonts.css);
@import url(./variaveis.css);

.navbar {
  background-color: var(--cor-branca);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.224);
}
.header_area .main-menu .navbar .container .navbar-brand {
  padding: 1.7rem;
  text-transform: uppercase;
  font-family: "Roboto", cursive;
}
#logo-nome {
  color: var(--cor-caixa);
  font-family: var(--font);
  margin: 0;
}
.header_area .main-menu .nav-item .nav-link {
  font-family: var(--font);
  text-transform: uppercase;
  padding: 1.7rem;
  color: var(--cor-padrao-link);
}
.header_area .main-menu .navbar .active {
  background: var(--linear-gradiente);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.header_area .main-menu .navbar a:hover {
  background: var(--linear-gradiente);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/* start banner */
.cabecalho {
  padding-top: 140px;
}
.linha-horizontal {
  width: 100%;
  border: 1px solid var(--cor-caixa);
}
#logo {
  width: 300px;
  height: 300px;
}
/* end banner */
/* star principal */

#info {
  background-color: var(--cor-caixa);
  padding: 20px;
  border-radius: 5px;
}
#info p {
  font-family: var(--font);
  color: var(--cor-branca);
}
.img-fluid {
  border-radius: 5px;
}
div.sobre-mim-desc {
  padding-right: 50px;
}
.camila02 {
  width: 350px;
  height: 350px;
}
.descricao {
  font-family: var(--font);
  font-size: 25px;
}
.descricao2 {
  margin: 0;
  font-family: var(--font);
  color: var(--cor-branca);
}
.resposta1 {
  text-align: center;
}
.resposta2 {
  text-align: center;
}
.titulo {
  font-family: var(--font);
  color: var(--cor-caixa);
  margin: 0;
  font-size: 35px;
}
.titulo2 {
  font-family: var(--font);
  color: var(--cor-branca);
  font-size: 40px;
}
#btn-saiba-mais {
  font-size: 20px;
  padding: 10px;
  background-color: var(--cor-caixa);
  font-family: var(--font);
  color: var(--cor-branca);
  transition: 0.2s;
}
#btn-saiba-mais:hover {
  background-color: var(--cor-caixa2);
}
#btn-enviar {
  font-size: 20px;
  padding: 10px 100px;
  background-color: var(--cor-caixa);
  font-family: var(--font);
  color: var(--cor-branca);
  transition: 0.2s;
}
#btn-enviar:hover {
  background-color: var(--cor-caixa2);
}
.faq {
  background-color: var(--cor-caixa);
}

.bi {
  cursor: pointer;
}
#redes {
  background-color: var(--cor-caixa);
  padding: 15px;
  border-radius: 5px;
}
#redes h2 {
  font-family: var(--font);

  color: var(--cor-branca);
}
/* rodape */
.rodape {
  background-color: var(--cor-caixa2);
}
#desenvolvedor {
  font-size: 10px;
}
/* end rodape */
/* form */

label.form-label {
  font-family: var(--font);
  color: var(--cor-caixa);
}

 .error {
  color: red;
}
/* end form */
/* blog-link */
.blog-link h2 {
  transition: 0.5s;
}
.blog-link h2:hover {
  color: var(--cor-caixa1);
}
/* end blog link */
/* animação */
/* .anime {
  opacity: 0;
  transition: 1000s;
  transform: translate3d(-150px, 0, 0);
}
.anime-start {
  opacity: 1;
  transform: translate3d(0, 0, 0);
} */
/* end animação */
/* lista */
li.list-group-item {
  background-color: var(--cor-caixa);
  color: var(--cor-branca);
  border: none;
}
/* end lista*/
/* responsividade */
@media (max-width: 576px) {
  div.sobre-mim-desc {
    padding-right: 12px;
  }
  .sobre-mim {
    flex-direction: column;
    font-size: 10px;
    line-height: 20px;
    padding: 2px;
  }
  .camila02 {
    margin-bottom: 50px;
  }
  .titulo {
    font-size: 35px;
  }
  .descricao {
    font-size: 20px;
    text-align: center;
  }

  .publicacao-main {
    flex-direction: column;
    align-items: center;
  }

  .pergunta {
    text-align: left;
  }
  .resposta1 {
    text-align: left;
  }
  .resposta2 {
    text-align: left;
  }
}
