:root {
  --font: "Ubunto";
  --linear-gradiente: linear-gradient(
    90deg,
    var(--bs-primary) 0%,
    #854fee 100%
  );
  --cor-padrao-link: #141313;
  --cor-caixa: #854fee;
  --cor-caixa2: #423162;
  --cor-branca: #ffffff;
}
